@model IEnumerable<CoffeeShop.Client.Models.Items>
@{
    ViewBag.Title = "The Coffee Shop";
    Layout = "~/Views/Shared/_HomepageLayout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container" style="background-image: url(../Images/MenuBG.jpg); background-position: center; background-repeat: no-repeat; background-size: 100% 100%;">
    <div class="row" style="padding-top:30px;background-color:transparent; text-align: center;">
        <img class="" src="~/Images/MenuHeader.png" style="max-width:auto; height: 209px;" />
    </div>
    <div class="row" style="padding-bottom:6px;">
        @foreach (var m in Model)
        {
            <div class="col-md-4 col-sm-6" style="background-color:transparent;text-align:center;">
                <div class="row" style="padding-top:8px;">
                    <h4 style="line-height:1;margin:0;"><span id="ItemName" style="color:white;">@m.ItemName - R</span><span id="Price" style="color:white;">@m.Price</span></h4>
                </div>
                <a href="@Url.Action("EachProductDetails", "Home",m)">
                    <img class="a.photo" src="~/Images/@m.Url" style="overflow: hidden; position: relative; width: 200px; height: 200px; cursor: pointer " />
                </a>
                <p style="white-space:nowrap !important;">
                    <a class="btn btn-primary" style="line-height:1;" href="@Url.Action("EachProductDetails", "Home",m)">Order <span class="glyphicon glyphicon-shopping-cart" style="color:#fff;font-size:20px;"></span></a> <span style="margin-left: 10px; color: #ff0000; line-height: 1.4; font-size: 20px;">*</span> <span style="color: white;">(earn 1 point)</span>
                </p>
            </div>
        }
    </div>
    <div class="row" style="width: 100%; text-align: center; padding-bottom:40px; margin-left:10px 0 10px 0;">
        <span style="color: #ff0000; line-height: 1.4; font-size: 20px;">*</span> <span style="color: white;font-size:16px;"><i>Redeem your points for free coffee! (1 point = R1.00)</i></span>
    </div>
</div>
